// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


// Color theme:
$dark-blue: #0B0C0E;
$light-blue: #534BEB;
$pink: #FD3E81;
$dark-blue-faded: #6a7da3;
$light-blue-faded: #8985e5;
$pink-faded: #f99abc;
$light-gray: #F4F4F4;
