// Specific CSS for your home-page
.home-container {
  display: flex;
  // flex-direction: row;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
  // background-color: white;


}
.card-small {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  align-items: center;
  // margin: 16px;
}

.card-new-document {
  background-color: #F5B335 ;
  width: 350px;
  height: 250px;
  justify-content: center;
}

.card-draft-documents {
  background-color: $dark-blue-faded ; //
  height: auto;
  justify-content: center;
  color: white;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.card-small-text {
}

.card-new-document-text a {
  font-size: 24px;
  margin: 0;
  text-decoration: none;
}

.card-draft-documents-text a {
  font-size: 20px;
  color: white;
}
.card-draft-documents-text i {
  font-size: 10px;
  color: white;
}

.card-draft-documents-text h3 {
  padding-top: 8px;
  text-align: center

}

.card-large {
  overflow: hidden;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  // margin: 16px;
  width: 100%;
}

.revision-button {
text-align: center;
background-color: $pink;
border: 2px solid darken($pink, 20);
}

.revision-tag {
  background-color: $dark-blue-faded;
}


