.new-document-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  // width: 60vw;
  // margin: 0 auto 40px auto;
}

.new-document-page-header {
  display: flex;
  justify-content: flex-end;
  .folder-date {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .save-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    .btn {
      margin: 0 5px 0 5px;
    }
  }
}

.new-document-page-editor {
  flex: 1;
}

.new-document-white-page {
  padding: 60px 80px;
  background: white;
  min-height: 100vh;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-document-name {
  margin-bottom: 40px;
}

.update-buttons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 16px;
  .btn {
    margin: 0 5px 0 5px;
  }
}
