<!-- TRANSPARENT BANNER -->

<div class="background">
  <div class="container template-container">
  <h1 class="light-blue-text">Light Blue Title</h1>
  <br><br>
  <h2 class="dark-blue-text">Dark Blue Title</h2>
  <br><br>
  <p class="orange-text">This is some very nice orange text to show how a paragraph would look like. So how do you like me?</p>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-btn">Light Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-btn">Dark Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-btn">Orange Button</button>
    </div>
    </div>

    <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-background-btn">Light Blue background Button</button>
    </div>


    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-background-btn">Dark Blue background Button</button>
    </div>



    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-background-btn">Orange background Button</button>
    </div>
  </div>

  </div>
</div>

<br><br>






<!-- WHITE BANNER -->

<div class="white-background">
  <div class="container template-container">
  <h1 class="light-blue-text">Light Blue Title</h1>
  <br><br>
  <h2 class="dark-blue-text">Dark Blue Title</h2>
  <br><br>
  <p class="orange-text">This is some very nice orange text to show how a paragraph would look like. So how do you like me?</p>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-btn">Light Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-btn">Dark Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-btn">Orange Button</button>
    </div>
    </div>

    <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-background-btn">Light Blue background Button</button>
    </div>


    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-background-btn">Dark Blue background Button</button>
    </div>



    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-background-btn">Orange background Button</button>
    </div>
  </div>

  </div>
</div>

<br><br>



<!-- DARK BLUE BANNER -->

<div class="dark-blue-background">
  <div class="container template-container">
  <h1 class="white-text">White Title</h1>
  <br><br>
  <h2 class="dark-blue-text">Dark Blue Title</h2>
  <br><br>
  <p class="orange-text">This is some very nice orange text to show how a paragraph would look like. So how do you like me?</p>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-btn">White Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-btn">Light Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-btn">Orange Button</button>
    </div>
    </div>

    <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-background-btn">White background Button</button>
    </div>


    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-background-btn">Light Blue background Button</button>
    </div>



    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-background-btn">Orange background Button</button>
    </div>
  </div>

  </div>
</div>

<br><br>

<!-- ORANGE BANNER -->
<div class="orange-background">
  <div class="container template-container">
  <h1 class="white-text">White Title</h1>
  <br><br>
  <h2 class="dark-blue-text">Dark Blue Title</h2>
  <br><br>
  <p class="white-text">This is some very nice white text to show how a paragraph would look like. So how do you like me?</p>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-btn">White Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-btn">Dark Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-btn">Light Blue Button</button>
    </div>
    </div>

  <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-background-btn">White background Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-background-btn">Dark Blue background Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary light-blue-background-btn">Light Blue background Button</button>
    </div>
  </div>

  </div>
</div>

<br><br>
<!-- LIGHT BLUE BANNER -->
<div class="light-blue-background">
  <div class="container template-container">
  <h1 class="white-text">White Title</h1>
  <br><br>
  <h2 class="dark-blue-text">Dark Blue Title</h2>
  <br><br>
  <p class="orange-text">This is some very nice white text to show how a paragraph would look like. So how do you like me?</p>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-btn">White Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-btn">Dark Blue Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-btn">Light Blue Button</button>
    </div>
    </div>

  <div class="row" style="margin-top: 20px;">

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary white-background-btn">White background Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary dark-blue-background-btn">Dark Blue background Button</button>
    </div>

    <div class="col-sm">
      <button type="button" class="btn btn-outline-primary orange-background-btn">Light Blue background Button</button>
    </div>
  </div>

  </div>
</div>
