<div class="row">
<div class="col-md-8 offset-md-2 form-content">
<h1>Tags</h1>
<ul>
  <% @tags.each do |tag| %>
  <li>
    <h3> <%= tag.name %> </h3>
    <small>  -- <%= link_to "Delete", tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }  %></small>
    <small>  -- <%= link_to "Revise", revision_sessions_tag_path(tag), method: :post %></small>
  </li>
<% end %>
</ul>
</div>
</div>
