<h1>This is the Concepts Page</h1>

<div class ="container">
  <div class="card-white">
    <% @concepts.each do |concept| %>
      <%= simple_form_for concept do |f| %>
      <%= f.input :prompt%>
      <%= f.input  :content, :value => concept.content %>
      <%= f.submit "Finalise concept card", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- concept.prompt.nil? ? nil : :value => concept.content  -->
