// navmenu
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  overflow: auto;
  background-image: url('brown-effect.png');
  background-position: top;
  background-repeat: repeat;
  background-color: $white;
  padding-bottom: 45px;

}

.page-content {
  width: calc(100% - 19rem);
  margin-left: 19rem;
  margin-top: 2rem;
  transition: all 0.4s;
  padding-right: 2rem;
}

.nav-link{
  color: #181548;
}

.nav-link:hover {
  opacity: 0.8;
}

#avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

.page-content.active {
  width: 100%;
  margin: 16px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .page-content {
    width: 100%;
    margin: 0;
  }


.page-content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

/* Collapsing CSS */


.active, .collapsible:hover {
  // background-color: #ccc;
  // opacity: 0.6;
}

.content-collapsible {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left: 25px;

}

.content-collapsible a {
  color:#181548;
}


// Icons css
.circle-icon {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

.fas {
  color: #181548;
}

// .folder-section {
//   margin: 0;
//   padding: 0;
// }


