.revision-row {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 1;
}

.row-past {
// background-color: grey;
}

.row-today {

}

.row-future {
opacity: 0.6;
}

.table-hover tbody tr:hover {
  background-color: #FBFBFB;
  opacity: 1;
}

.table {
    border-collapse: separate;
    border-spacing:0 20px;
}

.revision-tag {
  background-color: #B6DCE2; /* Green */
  border: none;
  color: $white;
  padding: 2px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4%;
  margin: 5px;
  font-size: 13px;
}

.table tbody td {
  vertical-align: middle;
};

h1 {
  font-family: 'Courgette', cursive;
}

.revision-button {
    display: inline-block;
    background: #181548;
    padding: 10px 15px;
    border-radius: 9px;
    color: white;

}

.revision-button {
  text-decoration: none;
}

.revision-button:hover {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.table thead {
  display:none;
}
