.revision-row {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 1;
}

.row-past {
// background-color: grey;
}

.row-today {

}

.row-future {
opacity: 0.6;
}

.table-hover tbody tr:hover {
  background-color: #FBFBFB;
  opacity: 1;
}

.table {
    border-collapse: separate;
    border-spacing:0 8px;

}

table{
  width: 100%;
  table-layout: fixed;
}

.revision-tag {
  background-color: #B6DCE2;
   border: none;
   color: #fff;
   padding: 3px 9px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 4px;
   margin: 5px 0px 5px 0;
   font-size: 13px;
   text-transform: uppercase;
  font-size: 12px;
}

.table tbody td {
  vertical-align: middle;
};

.revision-button {
  display: inline-block;
  background: #181548;
  border-radius: 20px;
  color: white;
  margin: 0 14px 0 0;
  font-size: 20px;
  padding: 5px 15px;
}

.revision-button {
  text-decoration: none;
}

.revision-button:hover {
  color: white;
  text-decoration: none;
  opacity: 0.7;
}

.table thead {
  display:none;
}

.table h3 {
  font-size: 24px;

}
